
<%# if !@district.blank? && @district.name == 'Epcot'%>
<%# else %>
  
<div class="mod line" id="ylf-vitality">
	<div class="hd"><h2><%= (params[:search_location]).blank? ? '  ' : "Resorts" %></span></h2></div>
	<div class="bd">
		<ul class="thumbs">
			<% if !@eateries.blank? %>
			  <% @eateries.each do |eatery| %>
				<% cache eatery do %>
			  
			<li>
				<%= link_to image_tag("exclamation.png", :size => "32x32", :class => "lz"), eatery_permalink_path(eatery.permalink), :class => 'img' %>
				<div class="txt">					
					<%= link_to eatery.name, eatery_permalink_path(eatery.permalink), :class => 'title' %>
					<cite><%= "Friendliness #{eatery.friendliness_rating};" if !eatery.friendliness_rating.blank? %> <%= "Overall #{eatery.overall_rating}" if !eatery.overall_rating.blank? %></cite>

				</div>
			</li>
				<% end %>
			  <% end %>
			<% else %>
			  <p>no listings yet for!</p>
			<% end %>


		</ul>
	</div>
	<div class="ft"></div>
</div>		
<%# end %>
