<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/welcome">WDW Hub Food</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 
    <div class="container">
        <div class="row">
            <div class="col-sm-2" id="district-nav-button">
                <%= link_to explore_index_path(near: "Magic Kingdom") do %>
        		<div class="image"  style="width: 100%">
                    <%= image_tag "welcome/6040278081_beb996db20_m.jpg", width: "128px" %>

        		      <h2><span>Magic</span><span><br /></span><span>Kingdom</span></h2>
        		</div>
                <% end %>
            </div>
            <div class="col-sm-2" id="district-nav-button">
                <%= link_to explore_index_path(near: "Animal Kingdom") do %>
        		<div class="image" style="width: 100%">
                    <%= image_tag "welcome/4813509233_7105676fa0_m.jpg", width: "128px" %>

        		      <h2><span>Animal</span><span><br /></span><span>Kingdom</span></h2>
        		</div>
                <% end %>
            </div>
            <div class="col-sm-2" id="district-nav-button">
                <%= link_to explore_index_path(near: "Epcot") do %>
        		<div class="image" style="width: 100%">
                    <%= image_tag "welcome/19265632828_e022c44617_m.jpg", width: "128px" %>

        		      <h2><span>Epcot</span></h2>
        		</div>
                <% end %>
            </div>
            <div class="col-sm-2" id="district-nav-button">
                <%= link_to explore_index_path(near: "Disney's Hollywood Studios") do %>
        		<div class="image" style="width: 100%">
                    <%= image_tag "welcome/14561586296_abc1e25170_m.jpg", width: "128px" %>

        		      <h2><span>Disney's Hollywood</span><span><br /></span><span>Studios</span></h2>
        		</div>
                
                <% end %>
            </div>
            <div class="col-sm-2" id="district-nav-button">
                <%= link_to explore_index_path(near: "Disney Springs") do %>
        		<div class="image" style="width: 100%">
                    <%= image_tag "welcome/18254354173_82523d7eb8_m.jpg", width: "128px" %>

        		      <h2><span>Disney</span><span><br /></span><span>Springs</span></h2>
        		</div>
                <% end %>
            </div>

            <div class="col-sm-2" id="district-nav-button">
                <%= link_to explore_index_path(near: "Resorts") do %>
        		<div class="image" style="width: 100%">
                    <%= image_tag "welcome/18254354173_82523d7eb8_m.jpg", width: "128px" %>

        		      <h2><span>Resorts</span></h2>
        		</div>
                <% end %>
            </div>

        </div>
    </div>

<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; height:500px;}
</style>

    <div class="container">
      <div class="row" >
          <%= form_tag('/explore', :class =>"navbar-form navbar-left", :role => "search", method: :get) do -%>
            <div class="form-group" >
              <%= text_field_tag :query, params[:query],  :class =>"form-control", placeholder: "I am looking for …", style:"align:center" %>
          
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
&nbsp;Search</button>
          <% end %>
          
      </div>

    </div><!-- /.container -->

    <footer class="blog-footer">
        <p>footer here</p>
    </footer>

<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />

    <script type="text/javascript">
    var mapboxTiles = L.tileLayer('https://{s}.tiles.mapbox.com/v3/examples.map-zr0njcqy/{z}/{x}/{y}.png', {
        attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
    });


    var map = L.map('map')
        .addLayer(mapboxTiles)
        .setView([40.72332345541449, -73.99], 10);
    </script>
