<%= content_for?(:title) ? yield(:title) : "Food at Walt Disney World" %>

<% content_for :title_section do -%>
	<ul class="cols col1">
		<!-- <a href="http://shine.yahoo.com/channel/health/how-to-break-a-habit-in-12-steps-2532888/" class="img"><img src="http://l.yimg.com/jn/util/anysize/310*275c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fhealth%2F200382537-001.jpg" alt="Quit your bad habits—for good!" height="275" width="310"></a> -->
		<div class="attr">
			<% if @photo.title %>
			<li class="last">
				<%= image_tag "http://farm#{@photo.farm}.static.flickr.com/#{@photo.server}/#{@photo.flickr_id}_#{@photo.secret}_m.jpg", :title => "#{@photo.title}", :class => "class" %>
				<br />
				<%= @photo.title %><br /><%= link_to "photo credit", "http://www.flickr.com/photos/#{@photo.owner}/#{@photo.flickr_id}" %>
			</li>
			<% end %>
			
			<h1><a style="text-decoration:none;" href="/" class="lnk"><%= content_for?(:title) ? yield(:title) : "Food at Walt Disney World" %></a></h1>
			<p>&nbsp;</p>
			<cite>Restaurant listings powered by <strong><a href="http://touringplans.com">TouringPlans.com</a> and <a href="http://disneyfoodblog.com">The Disney Food Blog</a>.</strong></cite>
		    
		    </p>
		</div>

	</ul>
	
<% end -%>

<% content_for :side do -%>
	<%= render :partial => "/shared/sidebar" %>
<% end -%>
<!--  -->

<!--  -->
<% if params[:search_location] == "resort-dining" %> 
<%# nb: lodgings will be shown no matter what the search_location is %>
	<%= render :partial => 'resort_and_eatery_listing' %>

	<!--  -->
<%- else -%>
	<%= render :partial => 'park_and_resort_eateries_listing' %>
	
<% end %>