<li class="list-group-item">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="https://irs2.4sqi.net/img/general/300x300/19195062_0Gzr7nZrXkGUSi7C66eQn1OUFG1k0kdWgw_tJ-uoWpM.jpg" style="width:100px" alt="boma">
          </a>
        </div>
        <div class="media-body">
            <div class="row">
              <div class="col-xs-8 col-sm-6">
          <h4 class="media-heading">
              <%= link_to list_group_item.name, explore_path(list_group_item), :role => "button", "data-toggle" => "modal", "data-target" => "#tallModal" %>
          </h4>
          <!-- -->
              </div>
              <div class="col-xs-4 col-sm-6">
                <div class="venueScore positive" title="" style="background-color: #00B551;">9.3</div>
                
              </div>
            </div>
            
          <div class="venueMeta">
              <div class="venueAddressData">
                  <div class="venueAddress"><%= list_group_item.district.name %></div>
                  <div class="venueData">
                      <span class="venueDataItem">
                          <span class="categoryName"><%= list_group_item.cuisine %></span>
                          <span class="delim"> • </span>
                      </span>
                      <span class="venueDataItem">
                          <span class="price" title="">
                              <span class="darken" itemprop="priceRange">$ $ $</span> $<%= list_group_item.cost_code %></span>
                              <span class="delim"> • </span>
                          </span>
                          <span class="linkToMenu venueDataItem">
                              <span class="menuLink link">View Menu</span>
                              <span class="delim"> • </span>
                          </span>
                      </div>
                  </div>
              </div>
          <!-- -->
        </div>
      </li>
    </ul>
    <ul class="texts">
		<% if !@eatery_dfb_tips.blank? %>
				<% numcount = 0 %>
	 	  <% @eatery_dfb_tips.each do |dfb_tip| %>
				<% numcount += 1 %>
				<li >
                    <img src="https://irs1.4sqi.net/img/general/cap/30/justifications_tip_20150825a.png" height="15" width="15">
                    <span class="entity tip_taste_match"></span>
					<%= dfb_tip.description.html_safe %>
				</li>
			<% end %>
		<% else %>
		  <li>No tips yet!</li>
	 	<% end %>
        
    </ul>
</li>
