<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# wdwfood: http://ogp.me/ns/fb/wdwfood#">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta property="og:site_name" content="WDW Food"/>
    
    <link rel="canonical" href="http://food.wdwfood.net"/>
    
	
	<meta name="description" lang="en" content="WDW Food provides a look ahead for those dining at Walt Disney World.">
   <title><%= yield(:title) ? yield(:title) : "WDW Food" %></title>

   <script src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
   	
    
<script type="text/javascript">
var g_ext = null;
window.onload = function()
{
    try {
        if ( window.external.msIsSiteMode()) {
           g_ext = window.external;
           g_ext.msSiteModeCreateJumpList("Shine Channels");
           g_ext.msSiteModeAddJumpListItem("Astrology","http://shine.yahoo.com/astrology","http://shine.yahoo.com/favicon.ico");
           g_ext.msSiteModeAddJumpListItem("Food","http://shine.yahoo.com/channel/food","http://shine.yahoo.com/favicon.ico");
           g_ext.msSiteModeAddJumpListItem("Love + Sex","http://shine.yahoo.com/channel/sex","http://shine.yahoo.com/favicon.ico");
           g_ext.msSiteModeAddJumpListItem("Parenting","http://shine.yahoo.com/channel/parenting","http://shine.yahoo.com/favicon.ico");
           g_ext.msSiteModeAddJumpListItem("Healthy Living","http://shine.yahoo.com/channel/health","http://shine.yahoo.com/favicon.ico");
           g_ext.msSiteModeAddJumpListItem("Fashion + Beauty","http://shine.yahoo.com/channel/beauty","http://shine.yahoo.com/favicon.ico");
           g_ext.msSiteModeAddJumpListItem("Manage Your Life","http://shine.yahoo.com/channel/life","http://shine.yahoo.com/favicon.ico");
           g_ext.msSiteModeShowJumplist();        
        }
    }
    catch (ex) {
        // Fail silently.
    }
}
</script><meta name="application-name" content="Yahoo! Shine"/>
<meta name="msapplication-tooltip" content="Shine on Yahoo!"/>
<meta name="msapplication-starturl" content="http://shine.yahoo.com">
<meta name="msapplication-task" content="name=Follow Us on Facebook;action-uri=http://facebook.com/yahooshine;icon-uri=http://l.yimg.com/a/i/us/tv/v3/common/facebookfavicon.ico" />
<meta name="msapplication-task" content="name=Follow Us on Twitter;action-uri=http://twitter.com/#!/YahooShine;icon-uri=http://twitter.com/favicon.ico" />
    
<%= stylesheet_link_tag :application, :cache => true %>
<!-- <LINK rel="stylesheet" href="http://l.yimg.com/jn/css/20110810215142/base.css" type="text/css"></LINK> -->
<!-- embed fonts from google -->
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css' />
<!--  -->
<%# render :partial => '/shared/facebook_head_content' %>

<!--  -->
</head>
<body id="ylf-home">
<div id="wrapper">
    <!-- no eyebrow content -->
    <link type="text/css" rel="stylesheet" href="http://l.yimg.com/a/lib/uh/15/css/uh_rsa-1.0.5.css" />
		<style type="text/css">body #ygma{width:100%;}#ygma{position:relative;z-index:99999;zoom:1;}#ygma #yahoo,#ygma #ymenu{width:974px;}#ygma #ygma-search{margin-top:5px;}#ygma #ygmabot{padding-bottom:0;}#ygma #yahoo,#ygma #ymenu{margin:0 auto;}#ygma .bd{padding-bottom:4px;}</style><script type="text/javascript">(function(){var h={};var setUp=function(){h = YAHOO.one.uh.hotlistInfo = {rd:"http://global.ard.yahoo.com",space:"/SIG=15s6l980h/M=650008.12746706.13811290.12041688/D=yliving/S=967143002:HEAD/Y=YAHOO/EXP=1313943914/L=Ul0VfEPDkwFQEJKYSbMCwhDGYtLIik5RFUoAC2RL/B=8qnaMtGDJHc-/J=1313936714858680/K=MFLeoF46bajDyOsCMrrLZQ/A=5869297/R=0",adid:"5869297",prop:"yliving",protocol:"http",host:"shine.yahoo.com",url:"%2f",spaceid:"967143002",aliasid:"rocketeer_capt.proton",shortaliasid:"rocketeer_capt.pr..."};YAHOO.one.uh.translate=function(str){var set={yahoo_homepage:"http://www.yahoo.com/", hp_detect_script:"http://www.yahoo.com/includes/hdhpdetect.php", set_hp_script:"http://global.ard.yahoo.com/SIG=15s6l980h/M=650008.12746706.13811290.12041688/D=yliving/S=967143002:HEAD/Y=YAHOO/EXP=1313943914/L=Ul0VfEPDkwFQEJKYSbMCwhDGYtLIik5RFUoAC2RL/B=8qnaMtGDJHc-/J=1313936714858680/K=MFLeoF46bajDyOsCMrrLZQ/A=5869297/R=1/SIG=10uacnjgh/*http://www.yahoo.com/bin/set", set_hp_firefox_instructions:["Drag the \"Y!\" and drop it onto the \"Home\" icon.", "Select \"Yes\" from the pop up window.", "Nothing, you're done."], close_this_window:"Close this window", set_hp_alternative_instructions1:"If this didn't work for you see ", detailed_set_hp_instructions:"detailed instructions", set_hp_alternative_instructions2:""};return set[str];};YAHOO.one.uh.accountOptions=[{text:"Profile",url:"http://global.ard.yahoo.com/SIG=15s6l980h/M=650008.12746706.13811290.12041688/D=yliving/S=967143002:HEAD/Y=YAHOO/EXP=1313943914/L=Ul0VfEPDkwFQEJKYSbMCwhDGYtLIik5RFUoAC2RL/B=8qnaMtGDJHc-/J=1313936714858680/K=MFLeoF46bajDyOsCMrrLZQ/A=5869297/R=2/SIG=000000000/*http://pulse.yahoo.com/y",className:"first-child"},{text:"Updates",url:"http://global.ard.yahoo.com/SIG=15s6l980h/M=650008.12746706.13811290.12041688/D=yliving/S=967143002:HEAD/Y=YAHOO/EXP=1313943914/L=Ul0VfEPDkwFQEJKYSbMCwhDGYtLIik5RFUoAC2RL/B=8qnaMtGDJHc-/J=1313936714858680/K=MFLeoF46bajDyOsCMrrLZQ/A=5869297/R=3/*http://pulse.yahoo.com/"},{text:"Account Info",url:"http://global.ard.yahoo.com/SIG=15s6l980h/M=650008.12746706.13811290.12041688/D=yliving/S=967143002:HEAD/Y=YAHOO/EXP=1313943914/L=Ul0VfEPDkwFQEJKYSbMCwhDGYtLIik5RFUoAC2RL/B=8qnaMtGDJHc-/J=1313936714858680/K=MFLeoF46bajDyOsCMrrLZQ/A=5869297/R=4/SIG=1378230f3/*https://edit.yahoo.com/mc2.0/eval_profile?.done=http://shine.yahoo.com%2f&amp;.src=shine&amp;.intl=us"},{text:"You are signed in as:<span class='yid' title='" + h.aliasid + "'>" + h.shortaliasid + "</span>",title:h.aliasid,className:"last-child"}];YAHOO.one.uh.Search=['ygmasearchInput', 'sat'];};if("undefined" !==typeof YAHOO && "undefined" !==typeof YAHOO.one && "undefined" !==typeof YAHOO.one.uh){setUp();}else{setTimeout(arguments.callee, 500);}})();</script><div id="ygma"><div id="ygmaheader"><div class="bd sp">
<style> 
#ygma-s{display:none;}
#ygma #ygmapromo-i, #ygmabt #ygmapromo-i {display:inline;}
</style> 
<style> 
#ygma ol.searches h4, #ygmabt ol.searches h4 {
	font-size:100%;
	font-weight:bold;
	color:#333333;
	text-align:left;
	padding-bottom:3px;
	margin:0;
}
#ygma ol.searches, #ygmabt ol.searches {
	position:absolute;
	z-index:10002;
	width:155px;
	_width:165px;
	padding:7px 7px 3px 7px;
	background-color:#ffffff;
	border:1px solid #cacaca;
	margin:0;
}
#ygma ol.searches li, #ygmabt ol.searches li {
	text-align:left;
	list-style-type:none;
	color:#163780;
	margin:0;
	padding: 0 0 2px 0;
}
#ygma #ygmapromo ol.searches a, #ygmabt #ygmabtpromo ol.searches a {
	font-weight:normal;
	color:#163780;
}
#ygma #ygmapromo ol.searches a:hover, #ygmabt #ygmabtpromo ol.searches a:hover {
	width:100%;
}
#ygma #ygmapromo-i, #ygmabt #ygmapromo-i {
	position:relative;
	z-index:10002;
	zoom:1;
}
  .permanent_marker {
    font-family: 'Permanent Marker', normal;
    font-size: 48px;		
}

</style>
</div><div id="pa"><div id="pa-wrapper">
	<div id="pa-left" class="sp"></div>
		<div id="pa-right" class="sp"></div>
	</div></div>
</div><div id="yahoo" class="ygmaclr">
	<div id="ygmabot"> 
		<h1><a  style="text-decoration:none;font-family: 'Permanent Marker', serif;font-size: 48px;" href="/">Food&nbsp;</a><%= link_to "from WDW Hub.net", "http://www.wdwhub.net/", :style => "text-decoration:none;serif;font-size: 48px;" %></h1>&nbsp;&nbsp;
		
		<!-- <a href="http://us.lrd.yahoo.com/_ylt=AkmR0lpphz8KlpQRLmySzSVabqU5/SIG=1939jip3o/**http%3A//global.ard.yahoo.com/SIG=15s6l980h/M=650008.12746706.13811290.12041688/D=yliving/S=967143002%3AHEAD/Y=YAHOO/EXP=1313943914/L=Ul0VfEPDkwFQEJKYSbMCwhDGYtLIik5RFUoAC2RL/B=8qnaMtGDJHc-/J=1313936714858680/K=MFLeoF46bajDyOsCMrrLZQ/A=5869297/R=14/SIG=10oifeke6/*http%3A//shine.yahoo.com" id="ygmalogo" target="_top">
			<img id="ygmalogoimg" width="263" height="58" src="http://l.yimg.com/a/i/brand/purplelogo/uh/us/shine_transparent.gif" alt="Yahoo! Shine">
		</a> -->
	</div>
	<!-- <div id="ygma-search"><form class="ygmaclr" id="sf" action="http://search.yahoo.com/search" method="GET"><div class="fieldset"> <span class="ygma-search-wrapper" role="search"> <label id="ygma-lbl" for="ygmasearchInput" class="offscrn">Search</label> <input class="sp" type="text" id="ygmasearchInput" name="p" value="Search" onblur="if(this.value==''){this.value='Search';this.style.color='#999';this.style.fontWeight='normal';}" onfocus="if(this.value=='Search'){this.value='';this.style.color='#000';this.style.fontWeight='bold';}" maxlength="100" autocomplete="off" /> <input type="hidden" id="fr" name="fr" value="ush-shine" /> </span> <span class="ygma-search-wrapper"> <span class="btn sp"> <span class="first-child"> <button name="ygmasrchbtn" id="ygmasrchbtn" value="Web Search" type="submit">Web Search </button> </span> </span> </span></div></form></div> -->
	</div></div></div></div>
	    	<div id="ylf-nav" class="nav">
		<ul class="cls">
			<%# @parks.each do |park| %>
				<li class="<%# park.id == @parks.first.id ? 'first' : '' %>" ><%# link_to park.name, district_path(park) %></li>
			<%# end %>
			<li><a href="/districts?search_location=resort-dining" >Resorts</a></li>
			<li><a href="/districts/downtown-disney" >Downtown Disney</a></li>
		</ul>
	</div>

    <div id="ylf-searchbar" class="pop-search">
        <div class="search-container">
            

            <div class="ylf-popular-search">
</div><!-- /.bd -->
</div><!-- /.ylf-popular-search-->

        </div>
    </div>
    <!-- gd2-status-2 --><!-- SpaceID=967143002 loc=NT1 noad -->

    
    <div class="doc cls">
        <div class="main">
            
			<div id="ylf-hdrbar" class="cls">
				<p><%= Time.now.strftime("%B %d, %Y") %></p>
			</div>
            <div class="mod feature cls">
				<%= yield :title_section %>
	
			</div>
			<%= yield %>
            

            
<!-- 
<script type="text/javascript" charset="UTF-8">YAHOO.Lifestyles.ImageLoader.delayByView({el:"ylf-ch-L7", cl:"lz", imgs:["http://l.yimg.com/jn/util/anysize/203*153c-86400,http%3A%2F%2Fl.yimg.com%2Fjn%2Futil%2Fanysize%2F203%2A151c-86400%2Chttp%253A%252F%252Fl.yimg.com%252Fa%252Fi%252Fus%252Fshine%252Fmom%252Ffeat.mom_ep35.jpg","http://l.yimg.com/jn/util/anysize/203*153c-86400,http%3A%2F%2Fl.yimg.com%2Fjn%2Futil%2Fanysize%2F203%2A151c-86400%2Chttp%253A%252F%252Fl.yimg.com%252Fa%252Fi%252Fus%252Fshine%252Fpyf%252Ffeat.pyf_ep2.jpg","http://l.yimg.com/jn/util/anysize/203*153c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fpyf%2Ffeat.pyf_ep1.jpg"]});</script>

             -->
        </div>
		<%= yield :side %>
    </div>
    
    <div id="ylf-super-footer">
	<div class="mn-hd"><h2>Right Now on WDW Hub (coming soon!)</h2></div>

	</div>
    <div id="ylf-foot">	<div class="doc">		<!-- <h3 class="foot-logo"><a href="/" >WDW Food</a></h3> -->				<ul class="foot-nav">			<!-- <li class="first"><a href="/pages/guidelines/" >Community Guidelines</a></li>	 -->		<li class="first"><a href="/pages/sitemap/" >Sitemap</a></li>			<li class="last"><%= link_to "About Us", page_path("about") %></li>			<!-- <li class="last"><a href="/pages/rss/" >RSS Directory</a></li>	 -->	</ul>		<ul class="foot-legal">				<li class="first"><a href="/pages/privacy" >Privacy Policy</a></li><li><a href="/pages/utos" >Terms of Service</a></li>				<li class="last"><a href="/pages/help" >Help</a></li>		</ul>		<p class="foot-copyright">Copyright &copy; 2011 Carl Tanner All rights reserved.</p>		<p class="foot-legal"><!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. --></p>	</div></div><!-- SpaceID=967143002 loc=FR10 noad -->

<script id="load_wrapper" type="text/javascript" src="http://mi.adinterax.com/wrapper.js"></script><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['_KnaMtGDJHc-']='&U=13hs4o8pv%2fN%3d_KnaMtGDJHc-%2fC%3d382523.14780874.14577256.12266501%2fD%3dFSRVY%2fB%3d6440274%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=Ul0VfEPDkwFQEJKYSbMCwhDGYtLIik5RFUoAC2RL&T=18lechrmc%2fX%3d1313936714%2fE%3d967143002%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d3408046546%2fH%3dY29udGVudD0iOzsiIHNlcnZlSWQ9IlVsMFZmRVBEa3dGUUVKS1lTYk1Dd2hER1l0TElpazVSRlVvQUMyUkwiIHNpdGVJZD0iNDQ1NzA1MSIgdFN0bXA9IjEzMTM5MzY3MTQ3MzU0OTEiIA--%2fQ%3d-1%2fS%3d1%2fJ%3d9592C343&U=13hs4o8pv%2fN%3d_KnaMtGDJHc-%2fC%3d382523.14780874.14577256.12266501%2fD%3dFSRVY%2fB%3d6440274%2fV%3d1"></noscript><img src="http://ads.bluelithium.com/pixel?id=278653&t=2" width="1" height="1" /><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['.qnaMtGDJHc-']='&U=13fiq8vq6%2fN%3d.qnaMtGDJHc-%2fC%3d783723.14552600.14373236.12260443%2fD%3dSIP%2fB%3d5558677%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=Ul0VfEPDkwFQEJKYSbMCwhDGYtLIik5RFUoAC2RL&T=18lcb5ir8%2fX%3d1313936714%2fE%3d967143002%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2392732081%2fH%3dY29udGVudD0iOzsiIHNlcnZlSWQ9IlVsMFZmRVBEa3dGUUVKS1lTYk1Dd2hER1l0TElpazVSRlVvQUMyUkwiIHNpdGVJZD0iNDQ1NzA1MSIgdFN0bXA9IjEzMTM5MzY3MTQ3MzU0OTEiIA--%2fQ%3d-1%2fS%3d1%2fJ%3d9592C343&U=13fiq8vq6%2fN%3d.qnaMtGDJHc-%2fC%3d783723.14552600.14373236.12260443%2fD%3dSIP%2fB%3d5558677%2fV%3d1"></noscript><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['8anaMtGDJHc-']='&U=13g065cdd%2fN%3d8anaMtGDJHc-%2fC%3d289534.12425434.12800114.12044330%2fD%3dFOOT%2fB%3d5279471%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=Ul0VfEPDkwFQEJKYSbMCwhDGYtLIik5RFUoAC2RL&T=18l4l5knq%2fX%3d1313936714%2fE%3d967143002%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d3698882141%2fH%3dY29udGVudD0iOzsiIHNlcnZlSWQ9IlVsMFZmRVBEa3dGUUVKS1lTYk1Dd2hER1l0TElpazVSRlVvQUMyUkwiIHNpdGVJZD0iNDQ1NzA1MSIgdFN0bXA9IjEzMTM5MzY3MTQ3MzU0OTEiIA--%2fQ%3d-1%2fS%3d1%2fJ%3d9592C343&U=13g065cdd%2fN%3d8anaMtGDJHc-%2fC%3d289534.12425434.12800114.12044330%2fD%3dFOOT%2fB%3d5279471%2fV%3d1"></noscript><!--QYZ ,;;;967143002;;-->
    <!-- gd2-status- --><!-- SpaceID=967143002 loc=FCUE noad -->
<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['8KnaMtGDJHc-']='&U=12can2eho%2fN%3d8KnaMtGDJHc-%2fC%3d-1%2fD%3dFCUE%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=Ul0VfEPDkwFQEJKYSbMCwhDGYtLIik5RFUoAC2RL&T=18l4b3g2m%2fX%3d1313936714%2fE%3d967143002%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2073280764%2fH%3dY29udGVudD0iOzsiIHNlcnZlSWQ9IlVsMFZmRVBEa3dGUUVKS1lTYk1Dd2hER1l0TElpazVSRlVvQUMyUkwiIHNpdGVJZD0iNDQ1NzA1MSIgdFN0bXA9IjEzMTM5MzY3MTQ3MzU0OTEiIA--%2fQ%3d-1%2fS%3d1%2fJ%3d9592C343&U=12can2eho%2fN%3d8KnaMtGDJHc-%2fC%3d-1%2fD%3dFCUE%2fB%3d-1%2fV%3d0"></noscript><!--QYZ ,;;;967143002;;-->
    <!-- gd2-status-2 --><!-- SpaceID=967143002 loc=RICH noad -->
<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['.anaMtGDJHc-']='&U=12c95qcc3%2fN%3d.anaMtGDJHc-%2fC%3d-1%2fD%3dRICH%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=Ul0VfEPDkwFQEJKYSbMCwhDGYtLIik5RFUoAC2RL&T=18kf3abg2%2fX%3d1313936714%2fE%3d967143002%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d415251695%2fH%3dY29udGVudD0iOzsiIHNlcnZlSWQ9IlVsMFZmRVBEa3dGUUVKS1lTYk1Dd2hER1l0TElpazVSRlVvQUMyUkwiIHNpdGVJZD0iNDQ1NzA1MSIgdFN0bXA9IjEzMTM5MzY3MTQ3MzU0OTEiIA--%2fQ%3d-1%2fS%3d1%2fJ%3d9592C343&U=12c95qcc3%2fN%3d.anaMtGDJHc-%2fC%3d-1%2fD%3dRICH%2fB%3d-1%2fV%3d0"></noscript><!--QYZ ,;;RICH;967143002;2;-->
    
<!-- Advertiser 'Yahoo! - Shine',  Include user in segment 'Shine Remarketing Homepage' - DO NOT MODIFY THIS PIXEL
IN ANY WAY -->
<img src="http://ad.yieldmanager.com/pixel?id=121491&t=2" width="1" height="1"/>
<!-- End of segment tag -->
</div>

	<!-- google analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-12040430-5']);
	  _gaq.push(['_setDomainName', '.wdwhub.net']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>

